# Set default behavior to automatically normalize line endings
* text=auto

# C# source files
*.cs           text diff=csharp

# Shader source files
*.task         text
*.mesh         text
*.frag         text

# MSBuild & Project files
*.slnx         text eol=crlf
*.csproj       text eol=crlf
*.props        text eol=crlf
*.targets      text eol=crlf
*.editorconfig text eol=crlf

# Config & Documentation
*.json         text
*.xml          text
*.md           text
*.txt          text

# Binary files
*.png          binary
*.jpg          binary
*.gif          binary
*.ico          binary
*.dll          binary
*.exe          binary
*.pdb          binary
*.so           binary
*.dylib        binary
